<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeen.zeendemo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZeenDemo">
        <activity android:name=".bottomnav.Activity_quiz"></activity>
        <activity android:name=".bottomnav.BottomNavActivity" />
        <activity android:name=".mpchart.LineChartActivity" />
        <activity android:name=".auto_scroll_rv.AutoScrollRvActivity" />
        <activity android:name=".scroll_rv.ScrollRvActivity" />
        <activity android:name=".answer_views.withexra.WeightActivity" />
        <activity android:name=".answer_views.AnswerViewsActivity" />
        <activity android:name=".pieview.PieChartActivity" />
        <activity android:name=".horizontal_lineview.NewLineActivity" />
        <activity android:name=".linechartview.LineChartActivity" />
        <activity android:name=".fragmentVpFragment.Fvpf" />
        <activity android:name=".ninepath.NinePathActivity" />
        <activity android:name=".horizontallist.HorizontalRvActivity" />
        <activity android:name=".countrypicker.CountryActivity" />
        <activity android:name=".tracerv.TimeLineActivity" />
        <activity android:name=".mpchart.LineChartDemo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>